In [19]:
import numpy as np
import pandas as pd # to create dataframe and handle data manipulation
import json # to work with Json data

In [29]:
# Read in CSV file

df = pd.read_csv('TopIMBDmovies.csv')
df

,Title,URL,Description,Best Rating,Worst Rating,Rating,Genre,Duration
0,The Shawshank Redemption,https://www.imdb.com/title/tt0111161/,A banker convicted of uxoricide forms a friend...,10,1,9.3,Drama,PT2H22M
1,The Godfather,https://www.imdb.com/title/tt0068646/,The aging patriarch of an organized crime dyna...,10,1,9.2,"Crime, Drama",PT2H55M
2,The Dark Knight,https://www.imdb.com/title/tt0468569/,When a menace known as the Joker wreaks havoc ...,10,1,9.0,"Action, Crime, Drama",PT2H32M
3,The Godfather Part II,https://www.imdb.com/title/tt0071562/,The early life and career of Vito Corleone in ...,10,1,9.0,"Crime, Drama",PT3H22M
4,12 Angry Men,https://www.imdb.com/title/tt0050083/,The jury in a New York City murder trial is fr...,10,1,9.0,"Crime, Drama",PT1H36M
...,...,...,...,...,...,...,...,...
245,Groundhog Day,https://www.imdb.com/title/tt0107048/,"A narcissistic, self-centered weatherman finds...",10,1,8.0,"Comedy, Drama, Fantasy",PT1H41M
246,The Help,https://www.imdb.com/title/tt1454029/,An aspiring author during the civil rights mov...,10,1,8.1,Drama,PT2H26M
247,Gangs of Wasseypur,https://www.imdb.com/title/tt1954470/,A clash between Sultan and Shahid Khan leads t...,10,1,8.2,"Action, Comedy, Crime",PT5H21M
248,Amores perros,https://www.imdb.com/title/tt0245712/,"An amateur dog fighter, a supermodel, and a de...",10,1,8.0,"Drama, Thriller",PT2H34M
249,Drishyam,https://www.imdb.com/title/tt4430212/,Desperate measures are taken by a man who trie...,10,1,8.2,"Crime, Drama, Mystery",PT2H43M

In [32]:
# inspecting data after loading it in dataframe
df.head()
df.info()
df.describe()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 250 entries, 0 to 249
Data columns (total 8 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Title         250 non-null    object
 1   URL           250 non-null    object
 2   Description   250 non-null    object
 3   Best Rating   250 non-null    int64
 4   Worst Rating  250 non-null    int64
 5   Rating        250 non-null    float64
 6   Genre         250 non-null    object
 7   Duration      250 non-null    object
dtypes: float64(1), int64(2), object(5)
memory usage: 15.8+ KB

       Best Rating  Worst Rating      Rating
count        250.0         250.0  250.000000
mean          10.0           1.0    8.308000
std            0.0           0.0    0.231496
min           10.0           1.0    8.000000
25%           10.0           1.0    8.100000
50%           10.0           1.0    8.200000
75%           10.0           1.0    8.400000
max           10.0           1.0    9.300000

In [ ]:
# Identify missing values
missing_data = df.isnull().sum()
missing_data

#no missing values seen

# if there was missing values, Fill missing values with the mean of the column using below syntax
#df['column'].fillna(df['column'].mean(), inplace=True)

In [21]:
# Remove duplicates based on specific columns
remove_dup = df.drop_duplicates(subset=['Title', 'URL'])
remove_dup
# no duplicates movie found

,Title,URL,Description,Best Rating,Worst Rating,Rating,Genre,Duration
0,The Shawshank Redemption,https://www.imdb.com/title/tt0111161/,A banker convicted of uxoricide forms a friend...,10,1,9.3,Drama,PT2H22M
1,The Godfather,https://www.imdb.com/title/tt0068646/,The aging patriarch of an organized crime dyna...,10,1,9.2,"Crime, Drama",PT2H55M
2,The Dark Knight,https://www.imdb.com/title/tt0468569/,When a menace known as the Joker wreaks havoc ...,10,1,9.0,"Action, Crime, Drama",PT2H32M
3,The Godfather Part II,https://www.imdb.com/title/tt0071562/,The early life and career of Vito Corleone in ...,10,1,9.0,"Crime, Drama",PT3H22M
4,12 Angry Men,https://www.imdb.com/title/tt0050083/,The jury in a New York City murder trial is fr...,10,1,9.0,"Crime, Drama",PT1H36M
...,...,...,...,...,...,...,...,...
245,Groundhog Day,https://www.imdb.com/title/tt0107048/,"A narcissistic, self-centered weatherman finds...",10,1,8.0,"Comedy, Drama, Fantasy",PT1H41M
246,The Help,https://www.imdb.com/title/tt1454029/,An aspiring author during the civil rights mov...,10,1,8.1,Drama,PT2H26M
247,Gangs of Wasseypur,https://www.imdb.com/title/tt1954470/,A clash between Sultan and Shahid Khan leads t...,10,1,8.2,"Action, Comedy, Crime",PT5H21M
248,Amores perros,https://www.imdb.com/title/tt0245712/,"An amateur dog fighter, a supermodel, and a de...",10,1,8.0,"Drama, Thriller",PT2H34M
249,Drishyam,https://www.imdb.com/title/tt4430212/,Desperate measures are taken by a man who trie...,10,1,8.2,"Crime, Drama, Mystery",PT2H43M

In [22]:
# Correct data types
df['Best Rating'] = df['Best Rating'].astype(int)
df['Worst Rating'] = df['Worst Rating'].astype(int)
df['Rating'] = df['Rating'].astype(float)
print (df.head())

                      Title                                    URL  \
0  The Shawshank Redemption  https://www.imdb.com/title/tt0111161/
1             The Godfather  https://www.imdb.com/title/tt0068646/
2           The Dark Knight  https://www.imdb.com/title/tt0468569/
3     The Godfather Part II  https://www.imdb.com/title/tt0071562/
4              12 Angry Men  https://www.imdb.com/title/tt0050083/

                                         Description  Best Rating  \
0  A banker convicted of uxoricide forms a friend...           10
1  The aging patriarch of an organized crime dyna...           10
2  When a menace known as the Joker wreaks havoc ...           10
3  The early life and career of Vito Corleone in ...           10
4  The jury in a New York City murder trial is fr...           10

   Worst Rating  Rating                 Genre Duration
0             1     9.3                 Drama  PT2H22M
1             1     9.2          Crime, Drama  PT2H55M
2             1     9.0  Action, Crime, Drama  PT2H32M
3             1     9.0          Crime, Drama  PT3H22M
4             1     9.0          Crime, Drama  PT1H36M

In [15]:
# Remove outliers if there are any
#df = df[df['Best Rating'] < df['Best Rating'].quantile(0.95)]
#df = df[df['Worst Rating'] < df['Worst Rating'].quantile(0.95)]
#df = df[df['Rating'] < df['Rating'].quantile(0.95)]
#print (df.head())

Empty DataFrame
Columns: [Title, URL, Description, Best Rating, Worst Rating, Rating, Genre, Duration]
Index: []

In [23]:
print (df.head())

                                    Title  \
0                The Shawshank Redemption
1                           The Godfather
2                         The Dark Knight
3                   The Godfather Part II
4                            12 Angry Men
..                                    ...
95  Eternal Sunshine of the Spotless Mind
96                  2001: A Space Odyssey
97                              Incendies
98                         Reservoir Dogs
99                          The Apartment

                                      URL  \
0   https://www.imdb.com/title/tt0111161/
1   https://www.imdb.com/title/tt0068646/
2   https://www.imdb.com/title/tt0468569/
3   https://www.imdb.com/title/tt0071562/
4   https://www.imdb.com/title/tt0050083/
..                                    ...
95  https://www.imdb.com/title/tt0338013/
96  https://www.imdb.com/title/tt0062622/
97  https://www.imdb.com/title/tt1255953/
98  https://www.imdb.com/title/tt0105236/
99  https://www.imdb.com/title/tt0053604/

                                          Description  Best Rating  \
0   A banker convicted of uxoricide forms a friend...           10
1   The aging patriarch of an organized crime dyna...           10
2   When a menace known as the Joker wreaks havoc ...           10
3   The early life and career of Vito Corleone in ...           10
4   The jury in a New York City murder trial is fr...           10
..                                                ...          ...
95  When their relationship turns sour, a couple u...           10
96  When a mysterious artifact is uncovered on the...           10
97  Twins journey to the Middle East to discover t...           10
98  When a simple jewelry heist goes horribly wron...           10
99  A Manhattan insurance clerk tries to rise in h...           10

    Worst Rating  Rating                   Genre Duration
0              1     9.3                   Drama  PT2H22M
1              1     9.2            Crime, Drama  PT2H55M
2              1     9.0    Action, Crime, Drama  PT2H32M
3              1     9.0            Crime, Drama  PT3H22M
4              1     9.0            Crime, Drama  PT1H36M
..           ...     ...                     ...      ...
95             1     8.3  Drama, Romance, Sci-Fi  PT1H48M
96             1     8.3       Adventure, Sci-Fi  PT2H29M
97             1     8.3     Drama, Mystery, War  PT2H11M
98             1     8.3         Crime, Thriller  PT1H39M
99             1     8.3  Comedy, Drama, Romance   PT2H5M

[100 rows x 8 columns]